<!DOCTYPE html>
<html>
<head>
    <title>ChronoLux</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container text-center mt-5">
    <h1>Welcome to ChronoLux ⌚</h1>
    <a href="/login" class="btn btn-dark">Login</a>
    <a href="/signup" class="btn btn-outline-dark">Signup</a>
</div>

</body>
</html>